doctype html
html(lang='en')
    head
        title Jade
        // Vendor libraries
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='css/payment_form.css')
    body
        .container
            h1
                | Click the filter icon
                small
                    | (
                    i.glyphicon.glyphicon-filter
                    | )
            .row
                .col-md-12
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Payments...
                            .pull-right
                                span.clickable.filter(data-toggle='tooltip', title='Toggle table filter', data-container='body')
                                    i.glyphicon.glyphicon-filter
                        .panel-body
                            input#dev-table-filter.form-control(type='text', data-action='filter', data-filters='#dev-table', placeholder='Filter Developers')
                        table#dev-table.table.table-hover
                            thead
                                tr
                                    th Id
                                    th Token
                                    th Amount
                                    th Description
                                    th Last 4 digits
                                    th STATUS
                            tbody
                            each payment in payments
                                tr
                                    td #{payment._id}
                                    td #{payment.token}
                                    td #{payment.amount}
                                    td #{payment.description}
                                    td #{payment.card_last4}
                                    td #{payment.status}

        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(type='text/javascript', src="js/search_table.js")